.header {
	z-index: 50;
	margin-bottom: 1vh;
	width: 80vw;
	height: 125px;
	position: fixed;
	top: 5px;
	left: 10vw;
	border-radius: 3px 3px 0 0;
	background-color: #C0C0C0;
	border: solid #696969 3px;
}
.logo {
	position: fixed;
	left: 15vw;
	top: 1vw;
}
.logo h1 {
	font-size: 60px;
	color: black;
	margin: 0;
	cursor: pointer;
}
.logoBrain {
	color: blue;
}
.logoJet{
	color: red;
}
.logo h2 {
	font-size: 30px;
	margin: 0;
}
.userLogin {
	background-color: yellow;
	position: fixed;
	right: 11vw;
	top: 20px;
	width: 200px;
	height: 80px;
	border-radius: 3px;
	border: solid #696969 3px;
}
#userName {
	font-size: 16px;
	margin: 5% 50% 0;
	transform: translate(-50%);
	width: 80%;
	height: 30px;
	border-radius: 3px;
	background-color: rgba(250, 90, 90, 0.25);
	justify-content: center;
	display: flex;
	align-items: center;
}
#userInput {
	width: 100%;	
	height: 26px;
	background-color: rgba(250, 90, 90, 0.25);
	border: solid lightgrey 1px;
	border-radius: 3px;
	text-align: center;
}
#userInput:focus {
	outline: none;
}
.regButs {
	overflow: hidden;
	position: absolute;
	top: 47px;
	margin: 0 50%;
	transform: translate(-50%);
	background-color: lightgrey;
	border-radius: 5px;
	width: 50%;
}
#statIcon {
	position: absolute;
	right: 10px;
	bottom: 4px;
	border: solid 2px #C0C0C0;
	background-color: #C0C0C0;
	cursor: pointer;
}
#statWindow {
	z-index: 100;
	position: fixed;
	right: 3px;
	width: 400px;
	top: 1%;
	height: fit-content;
	border-radius: 3px;
	background-color: yellow;
}
#statWindow h3 {
	text-align: center;
	margin-top: 10px;
}
#closeStat {
	position: absolute;
	top: 2px;
	right: 10px;		
	border: solid 1px #C0C0C0;
	background-color: #C0C0C0;
	cursor: pointer;
}
#statIcon:active {
	border: none;
	bottom: 5px;
}
#closeStat:active {
	border: none;
	top: 3px;
}
#statContent {
	z-index: 120;
	position: relative;
	width: 395px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	height: fit-content;
}

#menu {
	position: fixed;
	top: 130px;
	left: 10vw;
	background-color: #C0C0C0;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
    align-items: center;
	height: 60px;
	overflow: hidden;
	width: 80vw;
	border-radius: 0 0 3px 3px;
	border: solid #696969 3px;
}
.buts {
	width: 150px;
	margin: 10px;
	height: 34px;
	background-color: orange;
	border-radius: 8px;
	border: solid 1px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
}
.buts:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.selectedBut {
	border: solid yellow 1px;
}
.selectButAdopt {
	border: solid yellow 1px;

}
#menuAlign {
	position: relative;
	left: 50%;
}
#menuAlign a {
	position: relative;
	left: -50%;
}
#resBut {
	width: 250px;
}
#overlay {
	cursor: pointer;
}
.footer {
	width: 80vw;
	height: 5vh;
	position: fixed;
	left: 10vw;
	bottom: 0;	
	border-radius: 3px 3px 0 0;
	background-color: #C0C0C0;
	border: solid #696969 3px;	
	text-align: right;
}
.footer p {
	margin-right: 10px;
}

/*Media*/
@media only all and (max-width: 760px) {
	#menu {
		left: 0;
		top: 125px;
		width: 100%;
		border-left: none;
		border-right: none;
	}
	.header {
		margin: 0;
		left: 0;
		top: 0;
		width: 100%;
		border-left: none;
		border-right: none;	
	}
	.logo {
		left: 5vw;
	}
	.logo h1 {
		margin: 20px 0 0;
		font-size: 40px;
	}
	.logo h2 {
		font-size: 20px;
	}
	.footer {
		left: 0;
		width: 100%;		
		border-left: none;
		border-right: none;
	}
	.userLogin {
		right: 1vw;
	}
}
@media only all and (max-width: 400px) {
	.header {
		height: 100px;
	}
	#menu {
		left: 0;
		top: 103px;
	}
	.userLogin {
		top: 8px;
		width: 170px;
	}
	.logo {
		left: 0.5vw;
	}
	#userName {
		width: 95%;
	}
	#statIcon {
		right: 5px;
	}
	#statWindow {
		width: 300px;
	}
	#statContent {
		width: 295px;
	}
	#statContent canvas{
		width: 293px;
	}
	.footer {
		display: none;
	}
}
@media only all and (max-width: 360px) {
	.logo h1 {
		margin: 20px 0 0;
		font-size: 31px;
	}
	.logo h2 {
		font-size: 18px;
	}
}