* {
	box-sizing: border-box;
}
.content {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
	display: grid;
	grid-template: auto 100% auto / 1fr;
	grid-gap: 20px;
	overflow: hidden;
	min-height: 100vh;
}
body {
	background: url(../Res/images/brainBackground.jpg) top center no-repeat var(--bgc-color);
	position: relative;
	min-height: 100vh;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

#mainContent {
	background-color: var(--bgc-color);
	border-radius: 3px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.gameRow {
	position: relative;
	padding: 20px;
	border: solid black 1px;
	border-radius: 5px;
}
.gameContainer {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
}
.gameContainer img {
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
.gameRow h2 {
	margin: 0;
	text-align: center;
}
.startGameButs {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	height: 40px;
	border-radius: 3px;
	background-color: #32cd32;
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: 700;
	padding: 0 20px;
	transition: all 0.2s ease;
}
.startGameButs:focus {
	outline: none;
}
.startGameButs:hover {
	box-shadow: 0 0 3px var(--third-color);
}

/*Menu*/
.menuHamburger {
	display: none;
	width: 50px;
	height: 60px;
	right: 20px;
	position: absolute;
	cursor: pointer;
}
.menuHamburger span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #2f4f4f;
	border-radius: 3px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}
.menuHamburger span:nth-child(1) {
	top: 11px;
}
.menuHamburger span:nth-child(2),
.menuHamburger span:nth-child(3) {
	top: 25px;
}
.menuHamburger span:nth-child(4) {
	top: 39px;
}

#menu.menu_state_open .menuHamburger span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#menu.menu_state_open .menuHamburger span:nth-child(2) {
	transform: rotate(45deg);
}

#menu.menu_state_open .menuHamburger span:nth-child(3) {
	transform: rotate(-45deg);
}

#menu.menu_state_open .menuHamburger span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.hamburgerOpen {
	display: none;
	height: 0;
	transition: all 0.3s ease;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
}
/**/

/*Media*/
@media only all and (max-width: 760px) {
	#mainContent {
		border-radius: 0;
	}
}
@media only all and (max-width: 600px) {
	.gameRow {
		display: grid;
		grid-gap: 10px;
	}
	.gameRow p {
		margin: 0;
	}
	.gameRow p:last-of-type {
		margin-bottom: 10px;
	}
	.gameContainer {
		float: none;
		justify-self: center;
		margin: 0;
	}
	#menu {
		overflow: visible;
	}
	#menu a.buts {
		display: none;
	}
	.menuHamburger {
		display: inline-block;
	}
	#menu.menu_state_open .hamburgerOpen {
		height: 150px;
	}
	.hamburgerOpen {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		background-color: var(--main-color);
		z-index: 1000;
		overflow: auto;
	}
	.hamburgerOpenItem {
		display: block;
		padding: 10px 0;
		height: 50px;
		text-align: center;
		color: black;
		font-size: 20px;
		font-weight: 700;
		text-decoration: none;
	}
}
@media only all and (max-width: 500px) {
	.content {
		grid-gap: 0;
		grid-template: auto 1fr auto / 1fr;
	}
	#mainContent {
		padding: 0 15px 15px;
	}
}
